<h1>Profile</h1>

<h3> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> | <%= link_to "Delete #{current_user.username}", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</h3>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <table>
    <tr>
      <td>
        <div class="field"><%= f.label :username %><%= f.text_field :username, autofocus: true %></div>
      </td>
      
      <td>  
        <div class="field"><%= f.label :email %><%= f.email_field :email %></div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field"><%= f.label "Password (#{@minimum_password_length} char)" %>  <%= f.password_field :password, autocomplete: "off" %></div>
      </td>
      <td>   
        <div class="field"><%= f.label :password_confirmation %><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
      </td>
    </tr>

    <tr>
      <td>
       <div class="field"><%= f.label :current_password %><%= f.password_field :current_password, autocomplete: "off" %></div>    
      </td>

      <td>
      </td>
    </tr>

    <tr>
      <td>
       <div class="actions"><%= f.submit "Update profile", :class => 'btn-1' %></div>
      </td>

      <td>
      </td>
    </tr>
  </table>
<% end %>

<h2>Places you've settle:</h2>
<% @places.each do |var| %>
  <% if var.user_id == current_user.id %>
    <p>- <%= link_to "#{var.title}", var %></p>
  <% end %>
<% end%>

<h2>Posts you've done:</h2>
<% @posts.each do |var| %>
  <% if var.user_id == current_user.id %>
    <p>- <%= link_to "#{var.title}", var %></p>
  <% end %>
<% end%>