<h1>Users</h1>

<% @users.each do |var| %>
	<h2><%= var.username.capitalize %></h2>
		<h3>Settled places:</h3>
			<% var.places.each_with_index do |place, i| %>
				<p><%= i+1 %>. <%= link_to "#{place.title}", place %></p>
			<% end %>
		<h3>Done posts:</h3>
			<% var.posts.each_with_index do |post, i| %>
				<p><%= i+1 %>. <%= link_to "#{post.title}", post %></p>
			<% end %>
<p>&nbsp</p>
<% end %>