<h1>Orders</h1>

<table class="table">
		<tr>
			<th>Name:</th>
			<th>Phone:</th>
			<th>Order:</th>
		</tr>
<% @orders.each_with_index do |var, i|%>
	
		<tr>
			<td>
				<%= var.name.upcase %>
			</td>
			<td>
				<strong><%= var.phone %></strong>
			</td>
			<td>
				<% @array[i].each do |key, value| %>
					<% value.each do |key, value| %>| <%= key.capitalize %> <strong><%= value %></strong> <% end %>@ <strong><%= key %> //</strong> 
				<% end %>
			</td>			
		</tr>
	
<% end %>
</table>