<h2>Coffee order</h2>

<p>Name: <%= current_user.username %></p>
<%= render 'form' %>

<%= form_for @order do |f| %>

	<% if @order.errors.any? %>
	   <div id="error_explanation">
	      <h3><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
	      <ul>
	        <% @order.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
 	 <% end %>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, id: :order_phone %>
  </div>

  <div class="field" type="hidden">
  	<%= f.label :orderlist %>
    <%= f.text_field :orderlist, id: :order_orderlist, value: $list %>
  </div>

	<div class="actions">
  	  <%= f.submit :Order %>
  	</div>
<% end %>
