<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title.upcase %></h3> <i>by <%= @users.find(post.user_id).username.capitalize %></i></td>
      </tr>
      <tr>
        <td><%= post.body %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', post %> (<%= post.comments.length %>) <% if current_user.id == post.user_id %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
