<h1><%= @place.title %></h1>

<p id="notice"><%= notice %></p>

<h3><%= link_to 'Back to places', places_path %></h3>

<!-- Javascript function buttons - adds 1 item order to cart -->
<p>
<strong>Order coffee: </strong>
<%if @place.espresso == true %><button class="btn btn-4" onclick='coffee_function("<%= @place.title + '_espresso' %>")'> +1 espresso </button><% end %>
<%if @place.cappuccino == true %><button class="btn btn-4" onclick='coffee_function("<%= @place.title + '_cappuccino' %>")'> +1 cappuccino </button><% end %>
<%if @place.latte == true %><button class="btn btn-4" onclick='coffee_function("<%= @place.title + '_latte' %>")'> +1 latte </button><% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @place.tags %>
</p>

<i> registered by <%= @users.find(@place.user_id).username %> </i>

<!-- 'edit button is visible only for place creator' --> 
<p><% if current_user.id == @place.user_id %><%= link_to 'Edit', edit_place_path(@place) %><% end %></p>

<%= render "comments/comments" %>
<%= render "comments/form" %>


<script type="text/javascript">

// Function places order data to Local Storage.
// After that data is being copied to <input type="hidden" name="orders_btn" id="orders_input" > at application.html.erb 
// Function takes localStorage item value by it's key, increases value by '1', sets new value to key in localStorage ( updates key-value pair)  
function coffee_function(variable) 
{ 
	alert ('Dear Adept, you have added 1 ' + variable + ' to your order.');

	for(var x=0; x < 1; x++) 
	{
	  var hash_key = variable;
		var temp = window.localStorage.getItem(hash_key);
		temp = temp * 1 + 1;
		window.localStorage.setItem(hash_key, temp);
	}
	location.reload();
} 		

// Function copies data from localStorage to <input> 
$(function()
	{
		orders_input();		
	}
);
</script>