<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @place.tags %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p> registered by <%= @users.find(@place.user_id).username %> </p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%= render "comments/comments" %>
<%= render "comments/form" %>
